* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-weight: 300px;
    color: #989898;
}

/* utility */
.container {
    width: 80%;
    margin: 0 auto;
}

.mt-15 {
    margin-top: 15px;
}

.mt-30 {
    margin-top: 30px;
}

.px-16 {
    padding-bottom: 16px;
    padding-top: 16px;
}

.px-16-sx-dx{
    padding-left: 16px;
    padding-right: 16px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* Debug content*/
.debug-box {
    height: 50px;
    background-color: rgba(0,0,0, .25);
    border: 1px solid black;
}

/* Header */
header{
    background-color: brown;
    height: 100px;
}

.brand img{
    width: 125px;
}

.brand {
    display: inline-block;
}

.main-menu li {
    list-style: none;
    display: inline-block;
    margin-right: 12px;
}

.main-menu li a { 
    text-decoration: none;
    color: #868686;
    text-transform: uppercase;
    font-size: 15px;
}

.main-menu li a:hover {
    color: #000;
}
/* Section */
section {
    background-image: url(../img/banner.jpg);
    background-size: 100% 100%;
    height: 600px;
    position: relative;
}

.container-text {
    height: 150px;
    width: 550px;
    background-color: cadetblue;

    position: absolute;
    bottom: 30px;
    left: 30px;
}

#lorem,
#pretium {
    color: white;
}

#lorem {
    font-size: 12px;
}

/* Main Content*/
main {
    background-color: darkgray;
}

.sezione_intestazione {
    background-color: darkslateblue;
    height: 100px;
}

aside {
    background-color: salmon;
    width: 20%;
    float: left;
}

.sezione_centrale {
    background-color: seagreen;
    width: 60%;
    float: left;
}

.immagine_sx {
    height: 200px;
    background-image: url(../img/img-1.jpg);
    background-size: 100% 100%;
}

.immagine_dx {
    height: 200px;
    background-image: url(../img/img-3.jpg);
    background-size: 100% 100%;
}

.descrizione {
    height: 280px;
    background-color: forestgreen;
    padding-top: 25px;
}

.immagine_cx {
    height: 200px;
    background-color: goldenrod;
    background-image: url(../img/banner-2.jpg);
    background-size: 100% 100%;
    
}
/* footer */
footer {
    height: 80px;
    background-color: bisque;
    margin-bottom: 30px;

    text-align: center;
    line-height: 80px;
}